div{

}
h1{
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
}
body{
  margin: 0 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.16rem;
  line-height: 1.5;

}
h2{
  color: #66BFBF;
  font-family: 'Oxygen', sans-serif;
}
h3{
  color: #11999E;
}
hr{
  border: dotted #EAF6F6 10px;
  border-bottom: none;
  width:4%;
}
a{
  color: #11999E;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  margin: 25px 20px;
  padding: 10px 0;

}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.Top-container{
  position: relative;
  padding-top: 100px;
  background-color:#15CDA8;

}
.profilepic{
  width: 25%;
}
.skilimg{
  width: 27%;
  float: left;
  border-radius: 100%;
  margin-right: 30px;
  border: solid #EAF6F6 10px;


}
.skilimgb{
  float: right;
  width: 25%;
  border-radius: 100%;
    margin-left:20px;
}
.skill-row{
  width: 50%;
  margin: 70px auto 120px;
  text-align: left;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;

}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}
.tagline{
  font-weight: normal;
  line-height: 2;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}
.bio{
  width: 30%;
  margin: 20px auto;
}
.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
